{% extends "project_app/base.html" %}

{% block content %}
    <h1>Welcome to My To-Do App!</h1>
       <h2>Stay organized and manage your tasks effortlessly with this intuitive To-Do App.
        <br>
        <br>The app is designed to help you:
        <br>
        <li>Create tasks with ease, ensuring you never forget important things.</li>
        <li>View your list of tasks in a clean and organized layout.</li>
        <li>Update tasks instantly, so you can make changes as your priorities shift.</li>
        <li>Delete tasks when they're no longer needed, keeping your list clutter-free.</li>
        <br>
        Whether you're planning your daily routine, tracking long-term goals, or just writing down quick reminders, this app is here to make task management simple and efficient.
        <br>
        <br>Get started now and take control of your To-Dos today!</h2>
{% endblock content %}